.container {  display: grid;
    grid-template-columns: 1fr 1.5fr 1.2fr 0.3fr;
    grid-template-rows: 0.5fr 0.2fr 2.8fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "pageTitle pageTitle pageTitle also"
      "menubar menubar menubar also"
      "resume resume skills also"
      "other other other also";
  }
  
  .menubar {
    grid-area: menubar;
    background-color: #333;
    color: white;
    padding: 2px;
    text-align: center;
}
.menu-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.menu-button:hover {
    background-color: #555;
}
  .skills { 
    grid-area: skills;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;

}

  .resume {
    grid-area: resume;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

  
  .pageTitle {
    grid-area: pageTitle;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}

  
   .also {
    grid-area: also;
    background-color: #f4f4f4;
    padding: 15px;
}

  
.other {
    grid-area: other;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}


.certifications {
    display: block;
    border: 0px solid #fff;
    /* background-color: #fff; */
    color: #000000;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    transition: background-color 0.5s;
    
}

.link-container a {
    text-decoration: none;
    color: #000000;
}
.certifications:hover, .link-container:hover a {
    transition: background-color 0.4s;
    background-color: #01244a;
    color: #ffffff;

}

.certifications:hover .g {
    color: #4285f4;
}
.certifications  .g,.o1,.o2,.l,.e{
    display: inline; /* or display: inline-block; */
}
.certifications:hover .o1 {
    color: #ea4335;
}
.certifications:hover .o2 {
    color: #fbbc05;
}
.certifications:hover .l {
    color: #34a853;
}
.certifications:hover .e {
    color: #ea4335;
}

.education-table {
    width: 100%; /* Set the table width to 100% of its container */
    border-collapse: collapse; /* Remove space between table cells */
}

.education-table th, td {
    width:200px;
    border: none; /* Remove borders from table cells */
    padding: 1px; /* Add padding to table cells for spacing */
    text-align: left;
}

.experience-table {
    width: 100%; /* Set the table width to 100% of its container */
    border-collapse: collapse; /* Remove space between table cells */
}
.experience-table th, td {
    width:150px;
    border: none; /* Remove borders from table cells */
    padding: 1px; /* Add padding to table cells for spacing */
    text-align: left;
}

/* For the Education Table */
.education-table td:nth-child(2),
.education-table th:nth-child(2) {
    width: 70%; /* Adjust the width to your preference */
}

/* For the Experience Table */
.experience-table td:nth-child(2),
.experience-table th:nth-child(2) {
    width: 70%; /* Adjust the width to your preference */
}

.skill-bar:hover {
    transform: scale(1.5) translate(-20%, -10%);
    transition: transform 0.3s;
    background-color: #000000;
}
.skill-bar:hover .skill-fill {
    background-color: #2100f8; /* Change this to your desired color */
}
/* REALLY BAD CODE */
.skill-bar {
    /* background: linear-gradient(to right, rgb(0, 119, 254), rgb(255, 255, 255)); Gradient colors */
    border: 1px solid transparent;
    width: 150px;
    display: flex;
    align-items: center;
    height: 10px;
}

.skill-fill {
    background: linear-gradient(to right, rgb(0, 68, 255), rgb(8, 0, 119)); /* Gradient colors */
    height: 100%;
    width: 0;
    transition: width 1s; /* Add a transition for smooth fill animation */
}
/* REALLY BAD CODE */

.title {
    font-weight: bold;
    font-size: 24px;
    border: 1px solid transparent;
    margin: 0;
}

.subsection {
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 25px;
}

.sub-title {
    font-weight: bold;
    font-size: 18px;
}

.skill {
    display: flex;
    align-items: center;
    margin: 10px 0;
    
}

.skill-name {
    font-weight: bold;
    flex: 1;
}

.skill-bar {
    background-color: #e2e2e2;
    border: 1px solid transparent;
    width: 200px;
    display: flex;
    align-items: center;
}

.skill-fill {
    background-color: #0b466c;
    height: 10px;
}
